body{
    background: #8c52ff;
}

img {

    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#Currency_Converter{

    background: white;
    width: 400px;
    padding: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    border-radius: 20px;

}

#title{

        text-align: center;
        font-size: 26px;
        font-weight: 500;
}

input {

    width: 190px;
    height: 30px;
}

button{
  
    margin-top: 20px;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    border: none;
    background: #8c52ff;
    font-size: 20px;
    color: wheat;
    cursor: pointer;
}
button:hover{
    background-color: blueviolet;
}